catalogo/BONECKER.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Duna_Dueto_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Cobogo.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Contracorrente.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Alameda.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Aletria_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/BEI_EDITORA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Boitempo_Editorial.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Perspectiva.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Zagodoni.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Martins_Fontes__selo_Martins.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Universo_dos_Livros.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Alta_Books.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_GG.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/IMESP.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Versal_Editores.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_34.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Escuta.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Graphia.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/HarperCollins_Brasil.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Arole_Cultural.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Autonomia_Literaria.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Balao_Editorial.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/CASA_DE_LETRAS.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/SULINA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Via_Lettera_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Grupo_Autentica.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Grupo_Editorial_Record.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/OURO_SOBRE_AZUL.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/TRANSITIVA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/EDITORA_DA_UNICAMP.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Excelsior.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Sundermann.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Girassol.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Ciranda_Cultural.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Hedra.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Reformatorio.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Monolito.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Panda_Books.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Peiropolis.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/EDITORAS_BAMBOLE_E_OPALA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/ESTACAO_LIBERDADE.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Lote_42.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Senac.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Atelie_Editorial.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Edicoes_Olho_de_Vidro.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Almedina.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Caixote.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Letramais.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Attie_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Dublinense__Nao_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Erica.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Fiocruz.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/FGV_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Marsupial_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Mundareu.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Ubu_editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Carochinha_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/CENGAGE.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Papagaio.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Pini.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Pulo_do_Gato.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Saber_e_Ler_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Morro_Branco.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/EdUFSCar_(Editora_da_UFSCar).pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Hucitec_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Palas_Athena_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/VR_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/ApeKu_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Jaguatirica.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Revan.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Telos_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Geracao_Editorial.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Oficina_de_Textos.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Zarabatana_Books.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Bazar_do_Tempo.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Blucher.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Autores_Associados.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Nos.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Valentina.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Pausa.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Nova_Aguilar_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Numa_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Scientiae_Studia.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/MoMa_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Musa_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Annablume_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Bambual_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/E_Realizacoes_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/LPM_Editores.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/FiloCzar.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Parabola.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Arche_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Benvira.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Cosmos.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/FEWB.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/PALLAS_EDITORA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Contexto.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Hemus.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Melhoramentos.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/INTERMEIOS.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Expressao_Popular.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Saraiva_Jur.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Anita_Garibaldi.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Capivara.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Ideias_e_Letras.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/EdUFSC.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Solisluna_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/CONSEQUENCIA_EDITORA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Alaude__Tordesilhas.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Politeia.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/EDITORA_UFMG.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Kotter_Editorial.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/MINO.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Primavera_Editorial.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Relicario_Edicoes.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/CORTEZ_EDITORA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Draco.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Livraria_da_Fisica.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Global_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Male.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/ELLE_BRASIL.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/ODYSSEUS_EDITORA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/CONTRAPONTO_EDITORA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Edicoes_Barbatana.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Aleph.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/EDITORA_BIRUTA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Unifesp.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Viajante_do_Tempo.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Grupo_Editorial_Pensamento.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Instituto_Moreira_Salles.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/TEMPORAL_EDITORA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Planeta.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Grupo_Brinque-Book.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Instante.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Quatro_Cantos.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Jujuba_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/OZe_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Terra_Virgem_Edicoes.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/todavia.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/EDICOES_LOYOLA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Oficina_Raquel.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/EDITORA_UNESP.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Vermelho_Marinho.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Grua_Livros.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Grupo_Editorial_Summus.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Taschen_Editorial.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Aller_editora__Editora_106.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Jandaira.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Roca_Nova__Tabla.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/EDITORA_ROVELLE.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/MOINHOS.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Nova_Alexandria.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/RIDEEL.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/SANAR.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Edicoes_Sesc_Sao_Paulo.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_Elefante.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/EDITORA_UnB.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/MIGALHAS.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/SESI-SP_Editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Bamboozinho.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/EDITORA_VOZES.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Saraiva_Uni.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/ALTAMIRA_Editorial.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/CIRKULA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_WMF_Martins_Fontes.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/ARUANDA.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Callis.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Intermezzo_Editorial.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Zouk.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/EDITORA_BRASILIENSE.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Editora_UEPG.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Paulinas_editora.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/GMarx_USP__Maria_Antonia_Edicoes.pdf filter=lfs diff=lfs merge=lfs -text
catalogo/Veneta.pdf filter=lfs diff=lfs merge=lfs -text
